body.noScroll {
  overflow: hidden;
}

.popupImg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popupImg img {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  cursor: pointer;
}
